ソースコード/Node-RED/flows_sample.json
[{"id":"c6e11bbd.466378","type":"inject","z":"3bf1610c.a3577e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["60c3ef56.7e198"]]},{"id":"19abe3ba.0698ec","type":"debug","z":"3bf1610c.a3577e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":320,"wires":[]},{"id":"df787a90.b815c8","type":"change","z":"3bf1610c.a3577e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["8770df9e.8771f"]]},{"id":"86d52322.d79e1","type":"http in","z":"3bf1610c.a3577e","name":"","url":"/weather","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["60c3ef56.7e198"]]},{"id":"466c43ea.86daac","type":"http response","z":"3bf1610c.a3577e","name":"","statusCode":"","headers":{},"x":610,"y":100,"wires":[]},{"id":"8770df9e.8771f","type":"template","z":"3bf1610c.a3577e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} degree","output":"str","x":300,"y":220,"wires":[["466c43ea.86daac","19abe3ba.0698ec"]]},{"id":"40710e5b.df0f7","type":"comment","z":"3bf1610c.a3577e","name":"入力","info":"","x":70,"y":40,"wires":[]},{"id":"21c2b5ec.83c4ba","type":"comment","z":"3bf1610c.a3577e","name":"中間処理","info":"","x":320,"y":40,"wires":[]},{"id":"e1773f8a.0b006","type":"comment","z":"3bf1610c.a3577e","name":"出力","info":"","x":610,"y":40,"wires":[]},{"id":"60c3ef56.7e198","type":"openweathermap","z":"3bf1610c.a3577e","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":295,"y":97.64999389648437,"wires":[["df787a90.b815c8"]]}]